*.egg-info
*.py[co]
.*.sw[a-z]
.coverage
.tox
.venv.touch
/.mypy_cache
/.pytest_cache
/venv*
coverage-html
dist
.coverage

# Intellij
.idea/

# Crash log files
crash.log

Brewfile.lock.json
Pipfile.lock
tests/__pycache__/
testing/__pycache__/
pre_commit_hooks/__pycache__/
